{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="d-flex flex-wrap w-100 my-md-3 ps-md-3 grid gap-3  ">
    
    {% for elem in data %}

    <div class="text-bg-white me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">{{elem.title}}</h2>
            <p class="lead">{{elem.content}}</p>
            <img class="object-fit-contain" src="{% static elem.img %}" alt="">
        </div>


    </div>
    {% endfor %}
</div>
{% endblock content %}