{% load static %}
{% comment %} {% load women_tags %} {% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% comment %} <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
	<div class="bg-local">
		<img class="bg-cover"src="{% static 'BAS/images/background_1.jpg' %}" alt="Обложка-квадракоптер">
	</div>
	<h1 class="text-4xl font-mono " >{{title|upper}}</h1>

<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">

{% block content %}
{% endblock %}


	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p class="font-serif">Интересуетесь новостями о развитии беспилотной авиации и событиях НТИ в этой отрасли?
			Подпишитесь на Telegram-канал «Все о БАС»</p>
	</div>
	<a href="#" class="font-sans">

		<button >Подпишитесь</button>
	</a>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
